

<div class="container">


    <h1> <%= @restaurant.name%> </h1>
      <ul>
        <li><%= @restaurant.address %></li>
        <li><%= @restaurant.phone_number %></li>
        <li><%= @restaurant.category %></li>
      </ul>


    <ul>
      <% @restaurant.reviews.each do |review, rating| %>
        <li><%= review.content %> - <%= review.rating%></li>
      <% end %>
       <li> <%= link_to "Add a review", new_restaurant_review_path(@restaurant) %> </li>
    </ul>

</div>




